.t-table-content {
    padding-bottom: 30px;
}

.ant-table-content {
    padding: 0 !important;
}

th.ant-table-cell {
    text-align: center !important;
    background-color: #ffb57f !important;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

tr.ant-table-row {
    font-size: 18px !important;
}

ul.ant-pagination {
    justify-self: center;
}

.ant-pagination-prev {
    background-color: white;
    border: 0.1px solid gray !important;
    border-radius: 100% !important;
}

.ant-pagination-item {
    background-color: white;
    border: 0.1px solid gray !important;
    border-radius: 100% !important;
}

.ant-pagination-next {
    background-color: white;
    border: 0.1px solid gray !important;
    border-radius: 100% !important;
}

.ant-pagination-item-active {
    background-color: #ff6b0a !important;

    a {
        color: white !important;

    }
}