@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

/* Các rule phía dưới */
.font-Montserrat {
    font-family: "Montserrat", sans-serif
}

button {
    cursor: pointer;
}

.segmented-custom .ant-segmented-group {
    height: 100%;
}

.segmented-custom .ant-segmented-item-label {
    display: flex;
    height: 100%;
    background-color: white;
}

.swiper-wrapper {
    padding-bottom: 35px;
}

.ant-table-content {
    padding-bottom: 30px;
}

th.ant-table-cell {
    background-color: #ffb57f !important;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

tr.ant-table-row {
    font-size: 18px !important;
}

ul.ant-pagination {
    justify-self: center;
}

.ant-pagination-prev {
    background-color: white;
    border: 0.1px solid gray !important;
    border-radius: 100% !important;
}

.ant-pagination-item {
    background-color: white;
    border: 0.1px solid gray !important;
    border-radius: 100% !important;
}

.ant-pagination-next {
    background-color: white;
    border: 0.1px solid gray !important;
    border-radius: 100% !important;
}

.ant-pagination-item-active {
    background-color: #ff6b0a !important;

    a {
        color: white !important;

    }
}